@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap');

:root{
    --font-mali: 'Mali', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#tittle{
    display: flex;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--font-mali);
    font-size: 40px;
    font-weight: 400;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

#btnstart{
    display: flex;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#btnstart button{
    appearance: none;
    background-color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
    width: 300px;
    color: white;
    box-shadow: 0px 0px 7px 3px black;

    font-size: 40px;
    font-family: var(--font-mali);
    text-transform: uppercase;
    font-weight: 300;
}

footer{
    height: 2vh;
    width: 100vw;
    font-family: var(--font-mali);
    text-align: left;
    font-size: 10px;
    text-indent: 10px;
}
