@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&display=swap');

:root{
    --font-mali: 'Mali', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: flex;
    flex-wrap: nowrap;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: black;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #ff0000;
    transition: width 1s linear;
}


#quest{
    display: flex;
    width: 100vw;
    height: 44vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: var(--font-mali);
    font-size: 30px;
    font-weight: 300;
}

#option{
    display: flex;
    flex-direction: column;
    height: 44vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#option div{
    text-align: center;
    height: 100px;
}

#option button{
    appearance: none;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: 0px;
    font-family: var(--font-mali);
}
